
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* shared css */
.display-flex{
    display: flex;
}

.dark1{
color: #131313;
}
.dark2{
color: #424242;
}
.dark3{
color: #727272;
}
.orangecolor{
   color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}


/* header */
.header,.last-description{
    background-color: rgba(255, 144, 14, 0.1);
    /* height: 82.5rem; */
}
.header-div,.banner,main,footer{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav css */
.nav{
    justify-content: space-between;
    margin-bottom: -50px;
    /* background-color: red; */
}
.nav-item{
    list-style: none;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    margin-right: 50px;
    color: #424242;

}
.nav-header{
    font-weight: 700;
    font-size: 3rem;
}
/* banner */
.banner{
    margin-top:auto;
    /* background-color: blue; */
}
.banner-container{
    margin: 0 auto;
    text-align: center;
    width: 862px;
    /* background-color: greenyellow; */
}
.banner-header{
 font-weight: 700;
 font-size: 4rem;
 margin-bottom: 0;
}
.banner-description{
    font-size: 1rem;
margin-bottom: 32px;
}
.banner-img{ 
    margin-top: 50px;
    width: 100%;
}


/* Quic list of our features */
/* div-container */
.div-container{
    margin-top: 100px;
    display: flex;
}
.div-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    
}
.div-feature{
    
    margin: auto;
    width: 537px;
    margin-right: 70px;
}
.div-header{
font-size: 45px;
margin-bottom: 24px;
}
.div-description{
font-size: 16px;
}


 /* Features you will love & enjoy  */
    /* feature-banner  */
.feature-banner{
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    /* background-color: violet; */
}
.feature-banner-details{
    width: 36.5rem;
}
.feature-banner-header{
    border-left: 6px solid #FF900E;
    padding-left: 21px;
    font-weight: 700;
    font-size: 45px;
}

.feature-item-description{
    font-size: 16px;
}
.feature-item-header{
    font-weight: bold;
    font-size: 20px;
    color: #131313;
    
}
.feature-item-container{
    /* background-color: green; */
    width: 586px;
    height: 171px;
    padding-left: 30px;

}

.feature-item{
    /* margin-left: 51px; */
    /* background-color: blue; */
    margin-bottom: 0px;
    margin-top: 0px;
    
}

/* some-facts */
/* Facts-container */
.facts-card-container{
    display: flex;
    justify-content: space-between;
}
.facts-container-header{
font-size: 45px;
color: #131313;
font-weight: 800;
margin-bottom: 24px;
}
.facts-container-description{
    width: 542px;
font-size: 16px;
color: #727272;
margin-top: 0;
margin-bottom: 100px;
}
.facts-card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 241px;
    height: 241px;
}
.facts-header{
    font-size: 45px;
    font-weight: 400;
    color: #424242;
    margin: 0 auto;
}
.facts-description{
    font-size: 20px;
    font-weight: 400;
    color:#727272;
}

/* footer style*/

/* Our sponspors */
.sponspors-details{
    margin-top: 180px;
    text-align: center;
}
.sponspors-details-header{
font-size: 45px;
font-weight: 800;
color: #131313;
margin-bottom: 24px;
}
.sponspors-details-description{
color: #727272;
margin-bottom: 50px;
}
.sponspors-img{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

.last-description{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* responsibe style */
/* responsibe for smaller devices */
@media screen and (max-width:576px) {
.nav,.nav-item{
    flex-direction: column;
    margin-bottom: 1px;
}  

.banner-container{
    width: auto;
}
.nav-header{
    text-align: center;
}
.banner-header{
    font-size: 2rem;
}
.div-container{
    flex-direction: column;
}
.div-img >img{
    width: 100%;
    
}
.div-feature{
    width: 100%;
}
.feature-banner{
    margin-top: 50px;
    flex-direction: column;
}

.feature-banner-details,
.feature-item-container{
    width: 100%;
    padding: 0;
}

.facts-container-description{
    width: auto;
}
.facts-card-container{
    width: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.facts-card{
    width: 170px;
    height: 170px;
}
.facts-container-description{
    margin-bottom: 50px;
}
.sponspors-details{
    margin-top: 50px;
}

.sponspors-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 10px;
}

}
/* responsibe for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
   .nav{
    flex-direction: column;
   }
   .nav-header{
    text-align: center;
   }
   .nav-item{
    justify-content: center;
   }
   .banner-container{
    
    width: 100%;
   }
   .div-container{
    flex-direction: column;
}

.feature-banner{
    margin-top: 50px;
    flex-direction: column;
}

.feature-banner-details,
.feature-item-container{
    width: 100%;
    padding: 0;
    text-align: center ;
}
   
}
